@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&family=Grandstander:ital,wght@0,300;1,200&family=Grenze+Gotisch:wght@200;300;500&family=Lemonada:wght@300;400&display=swap');

nav {
    width: 100vw;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-evenly;
    height: 5%;
    margin-bottom: 2%;
    background: rgba(255, 166, 0, 0.397);
    border-bottom-style: double;
    border-bottom-color: orangered;
    border-bottom-width: 7px ;

}
nav a {
    font-family: 'Grenze Gotisch';
    text-decoration: none;
    color: orangered;
}
header{
    width: 100vw;
    position: relative;
    justify-content: space-evenly;
    min-height: 30%;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1, header h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
body>div {
    position:fixed;background-color: rgba(255, 255, 255, 0.5); top:0; left:0; width:100%; height:100%; 
    /* overflow-y:scroll */
}