#description{
background: rgb(231, 160, 135);
height: 60%;
padding: 7%;
margin-top: 0;
}
h1{
    font-size: 3em;
}
#heading{
    margin-bottom: 0;
    font-size: 1.6em;
}
section{
    width: 50vw;
    height: 50vw;
    background: rgb(247, 119, 73);
    width:50vw;
    margin-bottom: 0;
}
body{
    font-size: 1.5em;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 208, 201);
    align-items: center;
}

@media only screen and (max-width: 950px) {
     body {
      background-color: lightblue;
      font-size: 1em;
    } 
    section{
        width: 80vw;
        height: 50vh;
    }


  }
  @media only screen and (min-width: 1100px) {
     body {
         font-size: 2em;
      /* background-color:rgb(175, 240, 175); */
    } 
    section{
        
        height: 50vh;
    }


  }